Repository ani-hovhannisyan/kanji-visualization, pull requests merged in 2022-02, with the labels that each got.

#42 Added empty GraphController class file.
  README.md
  backend/GraphController.py
  docs/Class Diagram.png
Labels: documentation, coding

#63 Connect SearchField and GraphView
  frontend/src/App.tsx
  frontend/src/SearchField/SearchField.tsx
  frontend/src/components/GraphView/GraphView.test.tsx
  frontend/src/components/GraphView/GraphView.tsx
  frontend/src/components/GraphView/__snapshots__/GraphView.test.tsx.snap
  frontend/src/components/GraphView/testData.json
  frontend/src/components/SearchField/SearchField.tsx
  frontend/src/types/global.d.ts
  frontend/src/utils/functions.ts
Labels: coding, frontend

#70 Add tests for backend REST APIs #56
  backend/requirements.txt
  backend/tests/test_main.py
Labels: test

#69 Add tests for InfoController
  backend/controller/InfoController.py
  backend/tests/test_infoController.py
Labels: test

#79 bugfix #71
  frontend/src/components/SearchField/SearchField.tsx
Labels: bugfix, coding, frontend

#78 Feature/info view
  frontend/src/App.tsx
  frontend/src/components/InfoView/InfoView.tsx
  frontend/src/index.css
  frontend/src/types/global.d.ts
Labels: coding, frontend

#81 Bugfix/no graph data
  backend/controller/GraphController.py
  backend/main.py
  backend/tests/test_main.py
Labels: bugfix

#83 Update UI design using MUI
  backend/tests/test_graphController.py
  frontend/package.json
  frontend/public/apple-touch-icon-180x180.png
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.scss
  frontend/src/App.tsx
  frontend/src/components/GraphView/GraphView.test.tsx
  frontend/src/components/GraphView/GraphView.tsx
  frontend/src/components/GraphView/__snapshots__/GraphView.test.tsx.snap
  frontend/src/components/Header/Header.tsx
  frontend/src/components/InfoView/InfoView.tsx
  frontend/src/components/SearchField/SearchField.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/types/scss.d.ts
  frontend/src/utils/variables.ts
  frontend/yarn.lock
Labels: coding, frontend
